@font-face {
  font-family: "National Extrabold";
  font-style: normal;
  src: url("../fonts/NationalWeb-Extrabold.eot");
  src: url("../fonts/NationalWeb-Extrabold.woff") format("woff"),
    url("../fonts/NationalWeb-Extrabold.woff2") format("woff2");
}
@font-face {
  font-family: "National Extrabold Italic";
  font-style: normal;
  src: url("../fonts/NationalWeb-ExtraboldItalic.eot");
  src: url("../fonts/NationalWeb-ExtraboldItalic.woff") format("woff"),
    url("../fonts/NationalWeb-ExtraboldItalic.woff2") format("woff2");
}
@font-face {
  font-family: "National Regular";
  font-style: normal;
  src: url("../fonts/NationalWeb-Regular.eot");
  src: url("../fonts/NationalWeb-Regular.woff") format("woff"),
    url("../fonts/NationalWeb-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "National Regular Italic";
  font-style: normal;
  src: url("../fonts/NationalWeb-RegularItalic.eot");
  src: url("../fonts/NationalWeb-RegularItalic.woff") format("woff"),
    url("../fonts/NationalWeb-RegularItalic.woff2") format("woff2");
}
