@import "./partials/fonts.scss";
@import "./partials/test.scss"; // remove me

@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";
$primary: #2f30a6;
$text: #000;
$radius-small: 0px;
$radius: 0px;
$radius-large: 0px;
$radius-rounded: 0px;

$size-0: 8rem;
$size-1: 4rem;
$size-2: 3rem;
$size-3: 2rem;
$size-4: 1.5rem;
$size-5: 1rem;
$size-6: 0.5rem;
$size-7: 0.25rem;
$size-8: 0.125rem;

$heading-line-height: 0.9;

@import "~bulma/bulma.sass";

@mixin primarySection {
  background-color: $primary;
  color: white;
  h1,
  h2,
  h3 {
    color: white;
  }
}

body {
  font-family: "National Regular";
}

.hero-image-wrapper {
  display: block;
  position: relative;
  // img {
  //   position: absolute;
  //   z-index: 2 important;
  // }
}

.hero-image-overlay {
  width: 100%;
  bottom: auto;
  left: auto;
  position: relative;
  padding: 1rem;

  @include from($tablet) {
    padding: 2rem;
    position: absolute;
    bottom: -200px;
    left: 10%;
    width: 80%;
    background-color: white;
  }

  @include from($desktop) {
    left: 20%;
    width: 60%;
  }
}

#introduction {
  margin-top: 0rem;
  @include from($tablet) {
    margin-top: $size-0;
  }
  @include primarySection;
  // background-color: $primary;
  // color: white;
  // h1,
  // h2,
  // h3 {
  //   color: white;
  // }
}

#partners {
  background-color: #f6f5fc;
}

#faq {
  @include primarySection;
}
.shadow {
  box-shadow: 0px 40px 40px -10px rgba($color: #000, $alpha: 0.15); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

// -------- faq

.content {
  &__faq {
    &--white {
      background-color: white;
      color: black;
    }
  }
}

// -------- hack-the-crisis

.hack-the-crisis {
  &__wrapper {
    max-width: 150px;
  }
  &__items {
    max-width: 90px;
    background-color: $primary;
    color: white;
    padding: 0.3rem;
    line-height: 1rem;
    margin-bottom: 0.3rem;
  }
  &__item {
    color: white;
    font-weight: 800;
  }
  &__subline {
    background-color: white;
    color: $primary;
    font-weight: 700;
    font-size: 0.5rem;
  }
}

// -------- typography

.title {
  font-family: "National ExtraBold";
  line-height: $heading-line-height;
  color: $primary;

  span {
    opacity: 0.5;
  }
}

.title.is-1 {
  font-size: $size-3;
  margin-bottom: $size-5;
  @include from($tablet) {
    font-size: $size-2;
  }
  @include from($desktop) {
    font-size: $size-1;
  }
}

.content {
  p {
    font-size: $size-5;
    @include from($tablet) {
      font-size: $size-4;
    }
  }
}
